.mainContainer {
  background-color: #2e2e2e;
  height: 100vh;
}

.subContainer {
  display: flex;
  justify-content: space-around;
}

.sub1Container {
  display: flex;
  align-items: center;
}

.logo {
  height: 5rem;
  width: 5rem;
}

.btn2 {
  background-color: #2563eb;
}

.logoText {
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 2rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.navLinks {
  display: flex;
  align-items: center;
}

.cartLink {
  padding-right: 2rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.bottomSection {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottomDiv1 {
  width: 50%;
}

.bottomP1 {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  font-weight: 800;
  font-size: 3rem;
  line-height: 1;
  padding-bottom: 1.25rem;
}
.bottomP2 {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2;
  padding-bottom: 1.25rem;
}

.bottomImg {
  height: 550px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .mainContainer {
    height: 55vh;
  }
  .subContainer {
    flex-direction: column;
    align-items: center;
  }

  .logoText {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }

  .cartLink {
    padding-right: 1rem;
  }

  .bottomDiv1 {
    width: 100%;
  }

  .bottomP1 {
    font-size: 1.75rem;
    line-height: 1;
    padding-top: 50px;
  }

  .bottomP2 {
    font-size: 1rem;
    line-height: 1.25;
  }
  .bottomImg {
    display: none;
  }

  .btn2 {
    display: none;
  }
}
